* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.div-pai {
    display: flex;
    height: 100vh;
}

.menu-lateral {
    width: 15%;
    background: #9C404D;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.agenda-nails {
    width: 185px;
    height: 50px;
    margin-left: 45px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    background: rgba(218, 130, 145, 0.50);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 465px;
}

.abas-menu {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    transition: background 0.3s;
}

.abas-menu:hover {
    background-color: #DA8291;
    margin-right: 20px;
}

.botao-sair-div {
    width: 145px;
    height: 50px;
    text-align: center;
    margin-left: 60px;
    background-color: rgba(218, 130, 145, 0.50);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.botao-sair {
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
}

.barra-superior {
    width: 85%;
    height: 85px;;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #EDEDED;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 30px;
}

.mensagem {
    color: #C12A52;
    font-weight: bold;
    font-size: 25px;
}

.conteudo-central {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#texto-cadastrar {
    text-align: center;
    background-color: #C12A52;
    padding: 15px 25px;
    border-radius: 2px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 18px;
    width: 85%;
}

.rotulos {
    text-align: center;
    font-weight: 600;
}

.input-nome-preco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    border-radius: 8px;
    background: #EDEDED;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
    height: 35px;
}

.input-nome-preco:focus {
    outline: 2.5px solid #DA8291;
}

.div-botao {
    display: flex;
    justify-content: center;
}

.botao-servico {
    height: 45px;
    width: 180px;
    border: 0;
    border-radius: 15px;
    background-color: #EDEDED;
    color: #c12a52;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.grupo-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-bottom: 20px;
}

.input-nome-preco {
    padding: 5px 10px;
    font-size: 16px;
}

.erro-servico-cadastrado {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;

    color: #ff0000;
    font-weight: 500;
}