* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.div-pai {
    display: flex;
    height: 100vh;
}

.menu-lateral {
    width: 15%;
    background: #9C404D;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.agenda-nails {
    width: 185px;
    height: 50px;
    margin-left: 45px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    background: rgba(218, 130, 145, 0.50);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 480px;
}

.abas-menu {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
}

.abas-menu:hover {
    background-color: #DA8291;
}

.botao-sair-div {
    width: 145px;
    height: 50px;
    text-align: center;
    margin-left: 60px;
    background-color: rgba(218, 130, 145, 0.50);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.botao-sair {
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
}

.barra-superior {
    width: 85%;
    height: 85px;;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #EDEDED;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 30px;
}

.mensagem {
    color: #C12A52;
    font-weight: bold;
}